body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: rgb(145, 5, 5);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
}


.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(73, 30, 30, 0.454);
  z-index: 1;
}
.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
  }
  
  #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: red;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6dc4ec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: white;
  transition: all 0.5s;
  z-index: 997;
  color: red;
  padding: 20px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}



#header .logo img {
  max-height: 150px;
  width: 250px;
  margin: -48px;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: red;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: black;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: black;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #0f394c;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(7, 25, 33, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0f394c;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: red;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: red;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  margin-top: 70px;
  padding: 0;
}

.text-center h5{
  font-size: 35px;
}

#hero-no:before{
  background: none;
}

#hero:before {
  content: "";
  background: rgba(77, 40, 40, 0.43);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  z-index: 2;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}


#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  color: #fff;
  background: red;
  text-transform: uppercase;
}

#hero .btn-get-started:hover {
  background: #ff3700;
}

@media (max-width: 992px) {
  #hero {
    height: calc(60vh - 60px);
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 20px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  /* padding: 60px 0; */
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.section-bg {
  background-color: #f4fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #0f394c;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #0f394c;
  margin-bottom: 15px;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #d0ecf9;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: red;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: red;
  border-color: red;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: red;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.about .video-box {
  background: url("../img/about.jpg") center center no-repeat;
  background-size: cover;
  min-height: 500px;
}

@media (min-width: 1200px) {
  .about .video-box {
    margin-left: 15px;
    margin-right: -15px;
  }
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(red 50%, rgba(73, 181, 231, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(73, 181, 231, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid red;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: url("../img/counts-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0 60px 0;
  position: relative;
}

.counts::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.counts .title {
  position: relative;
  color: #0f394c;
  margin-bottom: 40px;
}

.counts .title h3 {
  font-size: 36px;
  font-weight: 700;
}

.counts .counters span {
  font-size: 44px;
  font-weight: 700;
  display: block;
  color: red;
  font-family: "Dosis", sans-serif;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: #444444;
}

@media (min-width: 1200px) {
  .counts {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  color: white;
  font-size: 14px;
  background: red;
  margin-top: 80px;
  height: 5rem;
}

#footer .footer {
  padding-top: 25px;
  text-align: center;
  color: white;
  align-items: center;
}



/* =========================MY NEW STYLING START ================= */
.funders{
  margin-top: 50px;
  margin-bottom: 110px;
}


.funder-logo{
  width:100px;
}


 .prof-card{
  display: grid;
  justify-content: center;
  margin: auto;
  width: 30rem;
  margin-bottom: 10px;

}




.people-section-1{
  box-sizing: border-box;
  display: grid;
  grid-template-columns:  auto;
  gap: 20px;
  margin-bottom: 110px;
}


.people-section{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin-bottom: 110px;
}
.people-section-list{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  margin-bottom: 110px;
}

.people-section-list .people-list{
  display: block;
  position: relative;
  text-align: center;
  align-items: center;
}

.people-section-list .people-list h1{
  font-size: 20px;
  color: red;
  font-weight: 800;
}

.line{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.line .underline{
  background: red;
  height: 2px;
  width: 30%;
}

.line .title{
  font-weight: 600;
  font-style: italic;
}

.people-card{
  color: white;
  background: red;
  display: flex;
  gap: 10px;
  height: 14rem;
  padding: 0;
  margin-top: 20px;
}

.people-card .people-image img{
  height: 13rem;
  width: 13rem;
}

.people-card .people-content{
  display: block;
  margin: auto;
  justify-content: center;
  margin-right: 15px;
  align-items: center;
  text-wrap: wrap;
}
.people-content h2{
  text-wrap:balance;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}
.people-content p{
  color: rgb(216, 215, 215);
}

.people-content .people-social{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.people-content .people-social a{
  background: white;
  color: red;
  /* border-radius: 80%; */
  padding: 10px;
  height: 10px;
  width: 10px;
  text-align: center;
}

.more-image-section .text-section{
  text-align: center;
  align-items: center;
  color: white;
}

.more-image-section{
  background: red;
  padding: 50px;
  margin-bottom: 90px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 35rem;
  display: block;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.more-image-section .more-image{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  position: relative;
  top: 100px;
}


.more-image .image-card{
  display: block;
  align-items: center;
  margin: auto;
  justify-content: center;
  position: relative;
}



.more-image .image-card img{
  width: 350px;
  height: 150px;
  border: 2px solid white;
  border-radius: 20px;
  margin-bottom: 15px;
}

.image-card img:hover{
  transition: all ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
  transform: scale(1.2);
}


.event-container{
  margin-top: 8rem;
  box-sizing: border-box;
  padding: 30px;
}

.event-container .event-section-1{
  margin: auto;
  padding: auto;
}

.event-cards{
  margin: auto;
  justify-content: center;
  display: grid;  
  gap: 25px;
  grid-template-columns: auto auto auto;
}

.bg-imgNew{
  background: url("../img/capic-poster.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img1{
  background: url("../img/advanced\ research.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img{
  background: url("../img/Fedgen-21_page-0001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-title{
  text-align: center;
  position:relative;
  font-size: 20px;
  align-items: center;
  color: red;
}

.event-title .underline{
  background: red;
  position: relative;
  margin: auto;
  padding: auto;
  align-items: center;
  height: 3px;
  width: 160px;
  margin-bottom: 6rem;
  /* background: khaki; */
}


.event-card{
  border: 3px solid red;
  width: 350px;
  height: 350px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 5rem;
  cursor: pointer;
}

.event-card .number{
  background: red;
  position: relative;
  margin: auto;
  margin-top: -40px;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
  height: 50px;
  width: 50px;
  border: none;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.898);
  border-radius: 100px;
}


.event-card .topic h1{
  font-size: 30px;
  color: black;
  position: relative;
  margin-top: 5rem;
  text-align: center;
}

.event-card .learn-more{
  position: relative;
  bottom: 5px;
  margin: auto;
  background: red;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin-top: 40px;
  width: 7.5rem;
}

.learn-more-b{
  position: relative;
  bottom: 5px;
  margin: auto;
  background: red;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin-top: 15rem;
  width: 7.5rem;
}

.learn-more, a{
  font-size: 18px;
  font-style: italic;
  color: white;
  text-align: center;
}
.learn-more-b a{
  font-size: 18px;
  font-style: italic;
  color: white;
  text-align: center;
}

.contact-img{
  background: url("../img/prototype\ image.jpeg");
  width: 100%;
  height: 14rem;
  position: relative;
  display: block;
  margin-bottom: 67px;
}
.contact-img .img-dk{
  background: rgba(162, 96, 96, 0.853);
  height: 14rem;
  width: 100%;
  position: relative;
}

.text{
  font-size: 50px;
  font-weight: bold;
  color: white;
  position: inherit;
  margin-top: -100px;
  margin-left: 25px;
}

.contact-container{
  margin: auto;
  justify-content: center;
  display: grid;
  position: relative;
  margin: 20px;
}



.contact-container .first-line{
  display: grid;
  grid-template-columns: auto auto;
  /* row-gap: 10px; */
}

/* .first-line .line{
  display: flex;
  flex-direction: column;
} */

.contact-container form .input{
  outline: none;
  border: 0.5px solid red;
  border-radius: 6px;
  padding: 4px;
  margin: 5px 0 25px 0;
}

.contact-container form label{
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.contact-container form .inputs{
  height: 3rem;
  width: 20rem;
}

.contact-container form .textarea{
  /* height: 3rem; */
  width: 100%;
}

.contact-container form button{
  width: 100%;
  height: 3rem;
  background: red;
  outline: none;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 25px;
  border-radius: 3px;
}

.contact-container form button:hover{
  background: rgb(141, 5, 5);
  transition: ease-in-out;
  transition-duration: 1s;
}


/* =======================RESPONSIVENESS ===================== */

@media only screen and (max-width: 1000px) {
  .people-section-1{
    margin: 10px;
    /* background: yellow; */
    box-sizing:
     border-box;
    display: grid;
    grid-template-columns:  auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }  


  .people-section{
    margin: 10px;
    /* background: yellow; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }  
  .people-section .people-card{
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 18rem;
    height: 32rem;
    padding: 0;
  }
 
  
  .people-card .people-image img{
    width: 100%;
    height: fit-content;

  }
  
  .people-card .people-content{
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }


  .more-image-section{
    background: red;
    padding: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 50rem;
  }
  
  .more-image-section .more-image{
    display: grid;
    grid-template-columns: auto  auto;
    gap: 10px;
    position: relative;
    top: 100px;
  }
  
  .more-image .image-card img{
    width: 350px;
    height: 150px;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 15px;
  }


  .event-cards{
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
  }

}

@media only screen and (max-width: 950px) {
  .people-section-1{
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns:  auto;
    gap: 10px;
  }  

  .people-section-1 .people-card{
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 20rem;
    height: 32rem;
    padding: 0;
  }
  .people-section{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto  auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }  
  .people-section-list{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-bottom: 110px;
  }
  
  .people-section .people-card{
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 20rem;
    height: 32rem;
    padding: 0;
  }


  .more-image-section{
    background: red;
    padding: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 50rem;
  }
  
  .more-image-section .more-image{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    position: relative;
    top: 100px;
  }
  .more-image .image-card{
    display: block;
    align-items: center;
    margin: auto;
    justify-content: center;
    position: relative;
  }
 
  
  .more-image .image-card img{
    width: 300px;
    height: 150px;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 15px;
  }


  .event-cards{
    margin: auto;
    justify-content: center;
    display: grid;    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 800px) {
  .hero-txt{
    font-size: 20px;
  }
  .people-section-1{
    margin: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:  auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }  
  .people-section-1 .people-card{
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 18rem;
    height: 32rem;
    padding: 0;
  }
  .people-section{
    margin: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }  

  .people-section-list{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-bottom: 110px;
  }
  
  .people-section .people-card{
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 18rem;
    height: 25rem;
    padding: 0;
  }


  .more-image-section{
    background: red;
    padding: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    height: 75rem;
  }
  
  .more-image-section .more-image{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    position: relative;
    top: 100px;
  }
  .more-image .image-card{
    display: block;
    align-items: center;
    margin: auto;
    justify-content: center;
    position: relative;
  }
  
  

  .more-image .image-card img{
    width: 300px;
    height: 100px;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  .event-cards{
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: auto  auto;
    gap: 20px;
  }

  /* .contact-container{
    background: #3498db;
  } */

  .contact-container form .inputs{
    height: 3rem;
    width: 18rem;
  }
  
  .contact-container form .textarea{
    /* height: 3rem; */
    width: 95%;
  }
  
  .contact-container form button{
    width: 95%;
    height: 3rem;
    background: red;
    outline: none;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 25px;
    border-radius: 3px;
  }



}


@media only screen and (max-width: 700px) {
  #hero {
    width: 100%;
    height: 50%;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    padding: 0;
  }
  
  .text-center h5{
    font-size: 35px;
  }
  
  #hero-no:before{
    background: none;
  }
  
  #hero:before {
    content: "";
    background: none;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.text-center h5{
  font-size: 18px;
}
  #header .logo img {
    max-height: 150px;
    width: 250px;
    margin-left: -15px;
  }
  
  .people-section-1{
    margin: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:  auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }  
  .people-section-1 .people-card{
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 15rem;
    height: 32rem;
    padding: 0;
  }
  .people-section{
    margin: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }  
  .people-section .people-card{
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 15rem;
    height: 32rem;
    padding: 0;
  }

  /* .event-container{
    margin-top: 8rem;
    box-sizing: border-box;
    padding: 30px;
    margin: auto;
    justify-content: center;
    display: block;
    background: green;
  } */

  .event-cards{
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns:  auto;
    gap: 20px;
  }


 

}

@media only screen and (max-width: 600px) {


  .people-section-1{
    margin: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:  auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }  

  .more-image .image-card{
    display: block;
    align-items: center;
    margin: auto;
    justify-content: center;
    position: relative;
  }
  
  

  .more-image .image-card img{
    width: 250px;
    height: 100px;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  .people-section-1 .people-card{
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 25rem;
    height: 40rem;
    padding: 0;
  }
  .people-section{
    margin: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:  auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }  
  .people-section .people-card{
    color: white;
    background: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 25rem;
    height: 40rem;
    padding: 0;
  }

  .event-cards{
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns:  auto;
    gap: 20px;
  }


 

  .contact-container .first-line{
    display: grid;
    grid-template-columns:  auto;
    /* row-gap: 10px; */
  }

  .contact-container form .inputs{
    height: 2.5rem;
    width: 100%;
  }
  
  .contact-container form .textarea{
    /* height: 3rem; */
    width: 100%;
  }
  
  .contact-container form button{
    width: 100%;
    height: 3rem;
    background: red;
    outline: none;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 25px;
    border-radius: 3px;
  }



}
