/* *{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

} */

:root {
    --primary: #00a859;
    --secondary: #eb3338;
    --light: #F2F2F2;
    --dark: #000000;
    --fm: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.ff{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.green{
    color: #00a859;
}

.red{
    color: #eb3338;
}

.white{
    color: white;
}
.green-bg{
    background: #00a859;
}

.red-bg{
    background: #eb3338;
}

.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(0, 0, 0, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Facts ***/
.fact {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/jeta-student-sitting-and-pressing-laptop-at-the-tech-hub.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Service ***/
.service .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.service .nav .nav-link.active {
    background: var(--primary);
}

.service .nav .nav-link.active h4 {
    color: #FFFFFF !important;
}


/*** Booking ***/
.booking {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/coding-for-kids-at-jeta.jpg) center center no-repeat;
    background-size: cover;
}

.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}

/*=========================== Galleries ==============*/
.dcard {
    margin: 0;
    padding: 1rem;
    margin-top: 50px;
    outline: none;
    border: none;


}

.date1{
    padding-top: 15px;
    border-radius: 50px;
    margin-bottom: -40px;
    padding-bottom: 25px;
    /* animation-name: outside;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s; */
}
.date2{
   padding-top: 25px;
    /* border-left: 3px solid red;
      border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-radius: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto; */
    /* animation-name: outside;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s; */
}

/* @keyframes outside{
    0%{
        border-left:2px solid #00a859;
    }
    50%{
        border-left:2px solid #eb3338;
    }
    100%{
        border-left:2px solid #00a859;
    }
} */

/* .banner, img{
    width: 113%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-left: 13px;
    border-radius: 15px;
} */

  
    /* width: 10%; */
    /* height: 35rem;
    margin: 1rem 0 1rem 1.5rem;
    margin-top: 30px;
    border-radius: 15px;
    border-top: #eb3338 3px solid;
    background-color: #F2F2F2;
    border-bottom: #00a859 3px solid;
    transition: 400ms; */
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.cards-reverse{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.cardp{
    margin-top: 60px;
    width: 50%;
}
.cards img{
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    /* border-top: 3px solid #eb3338;
    border-bottom:3px solid #00a859; */
    width: 50%;
}
.cards-reverse img{
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
}
/* .card:hover {
    box-shadow: 2px 9px 19px 3px rgba(0,0,0,0.2);
    transition: all ease-in 300ms;
    transform: scale(.93);
    border-bottom:  #eb3338 3px solid;
    border-top:  #00a859 3px solid;
    /* transform: translateZ(20px); */  

.card, p {
    color: #000000;
    font-weight: 300;
    font-size: 15px;
}

/* .card, img {
    width: 35%;
    margin-top: 10px;
    margin-bottom: 1rem;
    align-items: center;
} */

/*** Team ***/
.team-item .team-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transform: scale(0);
    transition: .5s;
}

.team-item:hover .team-overlay {
    transform: scale(1);
}

.team-item .team-overlay .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .team-overlay .btn:hover {
    color: #FFFFFF;
    background: var(--secondary)
}


/*** Footer ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(../img/jeta-student-sitting-and-pressing-laptop-at-the-tech-hub.jpg) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
/***********************RESPONSIVENESS *************/

@media screen and (max-width:761px) {

    .dcard{
        padding: 20px;
    }
    .cards img{
        width: 100%;
        height: 30rem;
     }
     .cardp{
        margin-left: 20px;
        width: 100%;
     }
     .cards-reverse{
        flex-direction: column-reverse;
     }
     .cards-reverse img{
        width: 100%;
        height: 30rem;
        margin-bottom: 20px;
     }
}

.training_form{
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 30rem;
    width: 100%;
}

.training_form .info{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    display: block;
    width: 50rem;
    height: 25rem;
    margin: auto;
}

@media screen and (max-width:700px) {
    .training_form{
        position: relative;
        display: block;
        align-items: center;
        justify-content: center;
        height: 30rem;
        width: 100%;
    }
    
    .training_form .info{
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        display: block;
        width: 100%;
        /* margin-left: -3rem; */
        height: 25rem;
    }
    
}



